

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url(../assets/post-bg.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>Write down my story of life and everything</h1>
          <h2 class="subheading">Be a good rails developer, wherever I fall</h2>
          <span class="meta">This post was completed on <%= render_datetime(@post.post_date) %></span>
         </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h3><%= @post.title %> | <%= link_to "Edit", edit_post_path(@post)  %> | <%= link_to "Delete", @post, method: :delete, data: {confirm: "Are you sure?"} %></h3>
        <p><%= markdown(@post.content) %></p> <br>
        <div class="share text-center">
        <p class="share_icon">Shared this post</p>
          <a onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><span class="fa-stack fa-lg"><i class="fa fa-facebook"></i></span></a>
      <a onclick="javascript:window.open('https://plus.google.com/share?url=<%= url_for([@drama, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><span class="fa-stack fa-lg"><i class="fa fa-google-plus"></i></span></a>
        </div>
      </div>
    </div>
  </div>
</article>

<hr>
