<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top ">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BILL's Blog</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Select Category<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "New Post", new_post_path  %></li>
          <li><%= link_to "My BMI", myBMI_path   %></li>
        </ul>
      </li>
        <li>
            <%= link_to "Home", home_path  %>
        </li>
        <li>
            <a href=<%= about_path %>>About</a>
        </li>
        <li>
            <a href=<%= new_contact_path %>>Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>